@font-face {
    font-family: monument-regular;
    src: url(./font/Mregular.otf);
}

@font-face {
    font-family: monument-bold;
    src: url(./font/Multrabold.otf);
}

@font-face {
    font-family: selfMo;
    src: url(./font/self.otf);
}

.menu {
    height: fit-content;
    z-index: 900;
    width: 100%;
    padding: 10px
}

#playTrack {
    position: absolute;
}

.menu .place {
    position: absolute;
    right: 10px;
}

.circle {
    /* transition: 0.1s;     */
    position: absolute;
    width: 75px;
    height: 75px;
    top: 75%;
    left: 75%;
    margin: -75px 0 0 -75px;
    /* background: white; */
    stroke: black;
    /* filter: blur(2px)contrast(100); */
    border: solid 1px;
    /* background: blue; */
    border-radius: 80%;
    backface-visibility: hidden;
    z-index: 80000;
    transform: translate(37.5px, 37.5px);
    pointer-events: none;
    backdrop-filter: blur(65px);
    opacity: 0.7;
}

body {
    margin: 0;
}

button[type=button] {
    z-index: 900000;
    height: 50px;
    width: 75px;
    background: white;
    border: solid 1px grey;
    background: none;
    font-family: selfMo;
    border-radius: 100px;
}

button:focus {
    border: solid 1px rgb(21, 0, 255);
    color: rgb(21, 0, 255);
    /* background-color:rgb(21, 0, 255); */
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#emoji__compass {
    z-index: 10000;
    width: 100%!important;
    height: 100%!important;
    background: radial-gradient(#005cff, white)!important;
    position: fixed;
}

.parent .case {
    /* border-bottom: solid 1px;
    border-right: solid 1px; */
    display: inherit;
    /* color:#070071 */
}

.parent .case p {
    font-size: 3em;
    font-family: monument-regular;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    z-index: 10;
}

.parent {
    display: flex;  
}

.carte {
    background: #ffffff;
    grid-area: 1 / 1 / 2 / 2;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.description {
    display: flex;
    position: absolute;
    height: 100%;
    z-index: 900000;
    /* background: red; */
    width: 100%;
    justify-content: center;
    /* grid-area: 1 / 3 / 2 / 4; */
    pointer-events: none;
    font-family: selfMo;
}

.description .content {
    align-self: center;
}
.description .content .static{
    border-radius: 451px;
    padding-right: 3%;
    padding-left: 3%;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: fit-content;
    height: fit-content;
    /* transform: rotate(45deg); */
    transition: 1s;
}
 .dynamic{
     width: 100%;
     height: 100vh;
     opacity: 0.5;

    overflow: scroll;
    /* background: #00d4ff; */
    /* padding-right: 100%;
    padding-left: 100%; */
    /* height: 20vh; */
    position: absolute;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  
}
.dynamic p {
    background: #ffffff;
    width: fit-content;
    align-self: center;
    margin-right: 0%;
    transition: 2s;
    font-size: 9vw;
}

.description .content h1 {
    font-size: 14vw;
    font-weight: initial;
    /* font-variant-caps: titling-caps; */
    margin: 0;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    grid-area: 4 / 1 / 5 / 2;
}

.div11 {
    grid-area: 4 / 2 / 5 / 3;
}

.div12 {
    grid-area: 4 / 3 / 5 / 4;
}

.color {
    width: auto;
    height: 100%;
}

/* DEV */

#reverb.on .color {
    background: #070071
}

#filter.on .color {
    background: #6b6bff
}

#volume.on .color {
    background: #00d4ff
}

/* #binaural.on .color {
    background: #00ff88
} */

#drum.on .color {
    background: #00d4ff
}

#bass.on .color {
    background: #0091ff
}

#lead.on .color {
    background: #0051ff
}

.on p {
    color: white;
}

.hard-transition {
    transition: 0.9s;
}

/* canvas */

#gameCanvas {
    width: 100%;
    height: 100vh;
    /* filter: blur(100px)contrast(72.1)saturate(0.6); */
}

/* MAP */

.leaflet-layer {
    /* opacity: 0.2 !important;     */
    /* display: none; */
    pointer-events: none;
}

path.leaflet-interactive {
    stroke: blue !important;
    stroke-width: 12px;
    /* filter: blur(20px) contrast(9.8); */
    /* stroke-width:   332px; */
}

path.leaflet-interactive:last-child {
    /* display: none; */
}

.leaflet-pane {
    /* filter: blur(4px) contrast(1.14);     */
}

#map {
    /* cursor: none; */
    /* filter: blur(173px) contrast(5.5); */
    height: 100vh;
    width: 100vw;
    margin: 0;
    z-index: 1000;
    /* pointer-events: none; */
    /* opacity: 0.001; */
    /* transition: 5s ease-out; */
}

.leaflet-interactive {
    cursor: none!important;
    pointer-events: none!important;
}

.leaflet-control-container {
    /* display: none; */
}

#conteneur {
    display: flex;
    height: auto;
    width: 100%;
    height: 50vh;
}

/* MOBILE */

#emoji__compass {
    z-index: 10000;
    width: 100%!important;
    height: 100%!important;
    background: radial-gradient(#005cff, white)!important;
    position: fixed;
}

.console {
    border: 1px solid;
    top: 20%;
    height: 20%;
    width: 50%;
    position: fixed;
}

.console input {
    width: 85%;
    height: 30%;
    margin: 5%;
}

#range, #alt {
    margin-left: 10%;
    width: auto;
    display: inline-block;
    right: 8%;
    bottom: 5%;
    position: initial;
}

.hideBlur {
    /* filter: blur(173px) contrast(5.5)!important; */
}

@media only screen and (hover: none) and (pointer: coarse) {
    /* a{
        font-size: 3em;
        font-weight: normal;
    } */
    p {
        font-size: 3em;
        font-weight: normal;
    }
    button[type=button] {
        z-index: 900000;
        height: 10%;
        width: 30%;
        background: white;
        color: black;
        border: solid 1px black;
        background: none;
        font-family: selfMo;
        border-radius: 100px;
        font-size: 4em;
    }
    .leaflet-pane {
        /* filter:  blur(48.1px) contrast(1.34);   */
        /* transition: 2s ease; */
    }
    path.leaflet-interactive {
        stroke: #e91707 !important;
        /* stroke-width: 77%;  */
        stroke-width: 17%;
    }
}